*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/app/default
/app/fdroid
/captures
.externalNativeBuild
.cxx
local.properties
sentry.properties
androidacy.properties
app/google-services.json