<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fox2code.mmm"
    tools:ignore="QueryAllPackagesPermission">

    <!-- Wifi is not the only way to get an internet connection -->
    <uses-feature android:name="android.hardware.wifi" android:required="false" />

    <!-- Retrieve online modules -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- WebView offline webpage support -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Check if there is modules updates on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Open config apps for applications -->
    <uses-permission-sdk-23 android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Supposed to fix bugs with old firmware, only requested on pre Marshmallow -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="@bool/lang_support_rtl"
        android:testOnly="false"
        android:theme="@style/Theme.MagiskModuleManager"
        android:fullBackupContent="@xml/full_backup_content"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false"
        tools:targetApi="s"
        tools:replace="android:supportsRtl"
        tools:ignore="ManifestResource">
        <receiver android:name="com.fox2code.mmm.background.BackgroundBootListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".installer.InstallerActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.INSTALL_MODULE_INTERNAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".markdown.MarkdownActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MagiskModuleManager">
        </activity>
        <activity
            android:name=".androidacy.AndroidacyActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MagiskModuleManager">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.OPEN_ANDROIDACY_INTERNAL" />
            </intent-filter>
        </activity>
        <activity android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            tools:node="remove"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
            <meta-data android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>
    </application>
</manifest>