<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="QueryAllPackagesPermission">

    <application android:icon="@mipmap/ic_launcher">
        <meta-data android:name="io.sentry.dsn" android:value="" />

    </application>
</manifest>
